html, body {
    padding: 0;
    margin: 0;
    background-color: hsl(211, 100%, 95%);
    font-family: montserrat;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 18px;
}

.navigatiebalk {
    color: #1E293B;
    font-weight: bold;
    font-size: 14px;
    margin: 14px;
    padding: 18px 36px;
    border-radius: 20px; 
}

.Homepageinfoblokken {
    background-color: rgb(236, 192, 234);
    height: 400px;
    width: 98%;
    margin: 20px;
    border-radius: 10px;
}

.navigatiebalk:hover {
    background-color: #cbd9ee;
}

.containers {
    display: flex; 
}

.plaatjeinfoblok {
    background: black;
    height: 180px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.tekstinfoblok {
    background: rgb(255, 157, 157);
    height: 150px;
    width: 100%;
}

.knopinfoblok {
    background-color: #93C6EB;
    color: #1E293B;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    margin: 9.5px auto;
    padding: 18px 30px;
    border-radius: 20px;
    width: 150px;
}

#containerkaart {
    background-color: #93C6EB;
    margin: 5px auto 15px;
    height: 500px;
    width: 98%;
    border-radius: 10px;
}


#containerwelkomtekst {
    background-color: #93C6EB;
    color: #1E293B;
    margin: 20px auto 5px;
    height: auto;
    width: 98%;
    border-radius: 10px; 
    text-align: center;
    padding: 2px  0px 15px 0px;
}

#containerfoto img{
    height: 580px;
    width: 100%;
    object-fit: cover;
}

#flachaulogo {
    height: 50px;
    width: auto;
    padding: 0px;
}

#homebutton {
    margin: 15px;
}

