html, body {
    padding: 0;
    margin: 0;
    background-color: hsl(211, 100%, 95%);
    font-family: montserrat;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 35px;
}

h4 {
    font-size: 15px;
    margin-right: 4px;
}

p {
    font-size: 18px;
}

.navigatiebalk {
    color: #1E293B;
    font-weight: bold;
    font-size: 14px;
    margin: 14px;
    padding: 18px 36px;
    border-radius: 20px; 
}

.Homepageinfoblokken {
    background-color: rgb(236, 192, 234);
    height: 400px;
    width: 98%;
    margin: 20px;
    border-radius: 10px;
}

.navigatiebalk:hover {
    background-color: #cbd9ee;
}

.containers {
    display: flex; 
}

.plaatjeinfoblok {
    background: black;
    height: 180px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.tekstinfoblok {
    background: rgb(255, 157, 157);
    height: 150px;
    width: 100%;
}

.knopinfoblok {
    background-color: #93C6EB;
    color: #1E293B;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    margin: 9.5px auto;
    padding: 18px 30px;
    border-radius: 20px;
    width: 150px;
}

.pistekaartmetinfo {
    width: 48%;
    height: 450px;
    margin: 15px;
}

.iconskaart {
    height: 30px;
    margin-right: 10px;
}

.iconsskien {
    height: 200px;
}

.infokaart {
    height: 55px;
    padding-left: 15px;
    border-radius: 7.5px;
    display: flex;
    align-items: center;
}

.pistekleurtekst {
    font-size: 15px;
    font-weight: bold;
    color: rgb(228, 243, 255);
}

.border {
    background: #6f9fc4;
    height: 1px;
}

.kmpiste {
    width: 300px;
}

.procentpiste {
    margin-left: 520px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 45px;
    text-align: center;
}

.standaardcontainer {
    width: 98%;
    border-radius: 10px;
    background-color: #93C6EB;
    color: #1E293B;
    margin: 15px auto 15px;
}

.containertekstinleiding {
    margin: 20px auto 5px; 
    text-align: center;
    padding: 2px  0px 15px 0px;
}

.containerfoto img {
    width: 100%;
    object-fit: cover;
}

.footertekst {
    color: #cbd9ee;
}

#linkcolofon:hover {
    color: #5DADE2;
}

#infokaart1 {
    margin-top: 0px;
    color: #1E293B;
    font-size: 20px;
    font-weight: bold;
}

#infokaart2 {
    background-color: #5DADE2;
} 

#infokaart3 {
    background-color: #E74C3C;
} 

#infokaart4 {
    background-color: #2E2E2E;
} 


#pistekaart {
    height: 450px;
    width: 900px;
}

#containerinfobijkaart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#containerkaart {
    margin: 5px auto 15px;
}

#containerfotohomepage img{
    height: 580px;

}

#containerfotoskien img {
    height: 300px;
    object-position: 100% 72%;
}

#flachaulogo {
    height: 50px;
    width: auto;
    padding: 0px;
}

#homebutton {
    margin: 15px;
}

#footerlijn {
    height: 3px;
    background-color: #E31C23;
}

#footertekst {
    background-color: #1E293B;
    text-align: center;
    padding: 15px;
}