html, body {
    padding: 0;
    margin: 0;
    background-color: hsl(211, 100%, 95%);
    font-family: montserrat;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 15px;
    margin-right: 4px;
}

p {
    font-size: 18px;
}

.navigatiebalk {
    color: #1E293B;
    font-weight: bold;
    font-size: 14px;
    margin: 14px;
    padding: 18px 36px;
    border-radius: 20px; 
}

.Homepageinfoblokken {
    background-color: #93C6EB;
    height: 400px;
    width: 98%;
    margin: 20px;
    border-radius: 10px;
}

.navigatiebalk:hover {
    background-color: #cbd9ee;
}

.containers {
    display: flex; 
}

.plaatjeinfoblok img {
    object-fit: cover;
    height: 180px;
    width: 341px;
    border-radius: 10px 10px 0px 0px;
}

.tekstinfoblok {
    margin-top: 4px;
    padding: 15px;
    height: 90px;
    width: 300px;
}

.knopinfoblok {
    background-color: #E6F2FF;
    color: #1E293B;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    margin: 9.5px auto;
    padding: 18px 30px;
    border-radius: 20px;
    width: 150px;
}

.knopinfoblok:hover {
    background-color: #c8d1dba2;
}

.pistekaartmetinfo {
    width: 48%;
    height: 450px;
    margin: 15px;
}

.iconskaart {
    height: 30px;
    margin-right: 10px;
}

.lijnaccomodaties {
    margin: 20px;
    height: 225px;
    width: 3px;
    background-color: #5496c2;
}

.logosaccomodaties {
    height: 50px;
    margin: 15px;
}

.tekstblokaccomodaties {
    height: 45px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.containerlogoaccomodaties {
    justify-content: center;
}

.knopaccomodaties {
    background-color: #e31c23f6;
    color: #1E293B;
    padding: 20px;
    width: 200px;
    margin: 10px auto 10px auto;
    border-radius: 7.5px;
    text-align: center;
    font-weight: 600;
}

.knopaccomodaties:hover {
    background-color: #8e2529f6;
}

.iconsskien {
    height: 100px;
}

.infokaart {
    height: 55px;
    padding-left: 15px;
    border-radius: 7.5px;
    display: flex;
    align-items: center;
}

.blokskienhoofdtekst {
    height: 60px;
    padding: 50px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
}

.blokskientekst {
    padding: 10px 50px 25px 50px;
    color: #1E293B;
    font-size: 20px;
    height: 130px;
}

.pistekleurtekst {
    font-size: 15px;
    font-weight: bold;
    color: rgb(228, 243, 255);
}

.border {
    background: #6f9fc4;
    height: 1px;
}

.kmpiste {
    width: 300px;
}

.procentpiste {
    margin-left: 520px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 45px;
    text-align: center;
}

.standaardcontainer {
    width: 98%;
    border-radius: 10px;
    background-color: #93C6EB;
    color: #1E293B;
    margin: 15px auto 15px;
}

.blokkenskien {
    background-color: #93C6EB;
    height: 450px;
    width: 600px;
    border-radius: 8px;
}

.blokskienknop:hover {
    background-color: #6d0307;
}

.blokskienknop {
    background-color: #E31C23;
    text-align: center;
    width: 300px;
    color: #E6F2FF;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 15px;
    font-weight: bold;
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.25);
}

.containerblokskienknop {
    flex-direction: column;
    align-items: center;
}

.blokdorpen {
    height: 350px;
    width: 350px;
    padding: 25px;
    background-size: cover;
    color: #E6F2FF;
}

.blokdorpen h3 {
    padding: 10px;
    text-align: center;
}

.containerblokkendorpen {
    justify-content: space-around;
    margin: 25px 0px 25px 0px;
}

.containertekstinleiding {
    margin: 20px auto 5px; 
    text-align: center;
    padding: 2px  0px 15px 0px;
}

.bannertekstskien {
    position: absolute;
}

.blokaccomodaties {
    height: 250px;
    width: 400px;
    margin: 20px;
}

.containerfoto img {
    width: 100%;
    object-fit: cover;
}

.footertekst {
    color: #cbd9ee;
}

#linkcolofon:hover {
    color: #5DADE2;
}

#infokaart1 {
    margin-top: 0px;
    color: #1E293B;
    font-size: 20px;
    font-weight: bold;
}

#infokaart2 {
    background-color: #5DADE2;
} 

#infokaart3 {
    background-color: #E74C3C;
} 

#infokaart4 {
    background-color: #2E2E2E;
} 

#blokdorp1 {
    background-image: url(../images/Dorpfoto/Flachaufoto.png);
}

#blokdorp2 {
   background-image: url(../images/Dorpfoto/Zauchenseefoto.png);
}

#blokdorp3 {
   background-image: url(../images/Dorpfoto/Ebenfoto.png);
}

#blokdorp4 {
   background-image: url(../images/Dorpfoto/filzmoosfoto.png);
}

#blokdorp5 {
    background-image: url(../images/Dorpfoto/kleinarlfoto.png);
}

#blokdorp6 {
   background-image: url(../images/Dorpfoto/Radtstadtfoto.png);
}

#blokdorp7 {
   background-image: url(../images/Dorpfoto/stjohanfoto.png);
}

#blokdorp8 {
    background-image: url(../images/Dorpfoto/wagrainfoto.png);
}

#pistekaart {
    height: 450px;
    width: 900px;
}

#hoofdtekstdorpen {
    text-align: center;
    color: #1E293B;
    margin: 40px;
}

#containerfotogebied {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #E6F2FF;
}

#containerfotogebied img {
    height: 500px;
    filter: brightness(80%);
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.25);
}

#containerinfobijkaart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#containerkaart {
    margin: 5px auto 15px;
}

#containerfotohomepage img {
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.25);
    height: 580px;
}

#containerblokskien {
    justify-content: space-between;
    margin: 20px;
}

#containerfotoskien img {
    height: 450px;
    object-position: 100% 75%;
    filter: brightness(70%);
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.25);
}

#containerteksthetskigebied {
    text-align: center;
    padding: 10px;
    width: 1800px;
    margin-top: 25px;
}

#containerfotoskien {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #E6F2FF;
}

#flachaulogo {
    height: 50px;
    width: auto;
    padding: 0px;
}

#homebutton {
    margin: 15px;
}

#containertekstaccomodaties {
    text-align: center;
    padding: 40px;
    font-size: 18px;
    height: 100px;
}

#containerblokkenaccomodaties {
    height: 280px;
    justify-content: space-around;
}

#containerfotoaccomodaties {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #E6F2FF;
}

#containerfotoaccomodaties img {
    height: 500px;
    filter: brightness(60%);
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.25);
}

#footerlijn {
    height: 3px;
    background-color: #E31C23;
    box-shadow:  1px 0px 10px 3px rgba(0, 0, 0, 0.25);
}

#footertekst {
    background-color: #1E293B;
    text-align: center;
    padding: 15px;
}

